body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

.product {
    width: 170px;
    border: 10px solid #f8f8f8;
    float: left;
}

.product img {
    width: 110px;
    height: 125px;
}

button {
    margin-top: 15px;
    display: block;
}